*{
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background-color: #182227;
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #f67d00;
}
.btn-primary{
    background-color: #f67d00;
    border: #dd6f00
}
.btn-primary:hover{
    background-color: #bb6510;
}
.card{
    background-color: #00000000;
    border-color: #f67d00;
}
.active{
    color: #f67d00;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}